:root {
    --primary: #131B1C;
    --secondary: #FFFAFF;
    --accent1: #f5804e;
    --accent2: #02595a;
}

body {
    background-color: black;
    color: var(--secondary);
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav a {
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    padding: 2px;
    width: 100%;
}

nav a:hover {
    background-color: var(--accent1);
    color: black !important;
}

#active-page {
    background-color: var(--accent1);
    color: black;
}

#hero-banner {
    max-height: 250px;
    padding:3px;
}

#CallToAction {
    background-color: var(--accent2);
    color:var(--secondary);
    border-radius: 4px;
    padding: 10px;
    border: 2px solid var(--secondary);
    text-decoration: none;
    position: relative;
    top: -40px;
    left: 10px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
}

main {
    padding: 5px;
}

.events-card, .weather-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: var(--primary);
    text-align: center;
    align-items: center;
    margin: 10px;
}

.events-card img, .weather-card img {
    max-width: 50px;
    padding: 30px;
    grid-column: 1/2;
}

.events-card div, .weather-card div {
    grid-column: 2/3;
}

.spotlight-card {
    background-color: var(--primary);
    text-align: center;
    margin: 10px;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
    text-align: right;
    width: 100%;
}

#menu::before {
	content: "≡";
    padding: 1rem;
}

#menu.open::before {
	content: "X";
    padding: 1rem;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: var(--secondary);
    padding: 0;
    width: 100%;
}
.navigation li {
	display: none;
    width: 100%;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: var(--secondary);
    text-align: center;
    width: 100%;
}

.open li {
	display: block;
}

.open li a {
	display: block;
}

#discover-grid {
    display: flex;
    flex-direction: column;
}

.discover-images {
    width: 100%;
}

.discover-image-container img {
    background-color: var(--secondary);
}

.discover-image-container img:hover {
    opacity: 0.6;
}