@media screen and (min-width: 500px) {
    nav {
        flex-direction: row;
    }

    main {
        max-width: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #hero-banner {
        grid-column: 1/3;
    }

    .events-card {
        grid-column: 1/2;
    }

    .weather-card {
        grid-column: 2/3;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1/3;
        justify-content: space-around;
        align-items: center;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    .navigation li a {
        text-align: center;
    }

    #discover-grid {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .discover-demographic-section {
        grid-column: 1/2;
    }

    .discover-image-section {
        grid-column: 2/3;        
    }

    #last-visit {
        grid-column: 1/3;
        text-align: center;
    }

    #discover-images img{
        width: 100%;
    }

    .discover-image-container img:hover {
        opacity: 0.6;
    }

    #thanksMsg {
        grid-column: 1/3;
        width: 100%;
    }

    .joinForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
    }
        
    .joinForm div:first-child {
        grid-column: 1/2;
    }

    .joinForm div:last-child {
        grid-column: 2/3;
    }

    #gridView {
        font-size: x-large;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        background-color: var(--secondary);
        color: var(--primary);
        margin: 20px;
        border-radius: 10px;
    }
    
    #gridView::before {
        content: "List View";
        padding: 1rem;
    }
    
    #gridView.gridList::before {
        content: "Grid View";
        padding: 1rem;
    }
    
    .gridChange {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }
    
    .gridChange img {
        display: none !important;
    }

    .gridMode img {
        display: unset;
    }
}